.bg-\[\#111827\] {
  --tw-bg-opacity: 1;
  background-color: #111827;
}
.bg-\[\#22c55e\] {
  --tw-bg-opacity: 1;
  background-color: #22c55e;
}
.bg-\[\#f97316\] {
  --tw-bg-opacity: 1;
  background-color: #f97316;
}
.bg-\[\#c026d3\] {
  --tw-bg-opacity: 1;
  background-color: #c026d3;
}
.bg-\[\#3b82f6\] {
  --tw-bg-opacity: 1;
  background-color: #3b82f6;
}
.bg-\[\#8b5cf6\] {
  --tw-bg-opacity: 1;
  background-color: #8b5cf6;
}
.bg-\[\#84cc16\] {
  --tw-bg-opacity: 1;
  background-color: #84cc16;
}
.bg-\[\#e11d48\] {
  --tw-bg-opacity: 1;
  background-color: #e11d48;
}
.bg-\[\#ec4899\] {
  --tw-bg-opacity: 1;
  background-color: #ec4899;
}
